

* {
    font-family: 'Nunito';
}
#app {
    background-color: #f1f2f6;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
#main {
    padding:  1rem 2rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 255px;
}