<div class="header">
    <div class="d-flex justify-content-between">
        <div class="header-left">
            <a><i class="dripicons-menu"></i></a>
        </div>
        <div class="header-right">
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    <div class="user-icon">
                        <img src="assets/images/avatar/avatar-1.png" alt="" srcset="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>