<div class="sidebar-wrapper">
    <div class="sidebar-header">
        <div class="logo">
            <img src="assets/images/logo/logo.png" alt="" srcset="">
        </div>
    </div>
    <div class="sidebar-menu-wrapper">
        <ul class='sidebar-menu'>
            <li class='menu-header'>
                <span>Apps</span>
            </li>
            <li class='menu-item'>
                <a href="index.html" class='menu-link'>
                    <div>
                        <i class="dripicons-home"></i> 
                        <div>Dashboard</div>
                    </div>
                </a>
            </li>
            <li class='menu-item'>
                <a href="http://" class='menu-link'>
                    <div>
                        <i class="dripicons-message"></i> 
                        <div>Chats</div>
                    </div>
                </a>
            </li>
            <li class='menu-header'>
                <span>User Interface</span>
            </li>
            <li class='menu-item has-sub'>
                <a href="#" class='menu-link '>
                    <div>
                        <i class="dripicons-lightbulb"></i>
                        <div>Components</div>
                    </div>
                    <div class='menu-icon'>
                        <i class="dripicons-chevron-right"></i>
                    </div>
                </a>
                <ul class='submenu'>
                    <li><a href="component-alert.html">Alert</a></li>
                    <li><a href="component-button.html">Button</a></li>
                    <li><a href="component-badge.html">Badge</a></li>
                    <li><a href="component-card.html">Card</a></li>
                    <li><a href="component-dropdown.html">Dropdown</a></li>
                    <li><a href="component-pagination.html">Pagination</a></li>
                    <li><a href="component-progress.html">Progress</a></li>
                </ul>
            </li>
            <li class='menu-item'>
                <a href="http://" class='menu-link has-sub'>
                    <div>
                        <i class="dripicons-map"></i> 
                        <div>Icons</div>
                    </div>
                </a>
            </li>
            <li class='menu-item'>
                <a href="http://" class='menu-link has-sub'>
                    <div>
                        <i class="dripicons-view-thumb"></i> 
                        <div>Widgets</div>
                    </div>
                </a>
            </li>
            <li class='menu-header'>
                <span>Tables</span>
            </li>
            <li class='menu-item'>
                <a href="http://" class='menu-link has-sub'>
                    <div>
                        <i class="dripicons-view-apps"></i> 
                        <div>Basic Tables</div>
                    </div>
                </a>
            </li>
            <li class='menu-item'>
                <a href="http://" class='menu-link has-sub'>
                    <div>
                        <i class="dripicons-box"></i> 
                        <div>DataTables</div>
                    </div>
                </a>
            </li>
            <li class='menu-header'>
                <span>Pages</span>
            </li>
            <li class='menu-item has-sub'>
                <a href="#" class='menu-link '>
                    <div>
                        <i class="dripicons-lock"></i> 
                        <div>Authentication</div>
                    </div>
                    <div class='menu-icon'>
                        <i class="dripicons-chevron-right"></i>
                    </div>
                </a>
                <ul class='submenu'>
                    <li><a href="auth-login.html">Login</a></li>
                    <li><a href="auth-register.html">Register</a></li>
                    <li><a href="auth-forgot-password.html">Forgot Password</a></li>
                </ul>
            </li>
            <li class='menu-item has-sub'>
                <a href="#" class='menu-link '>
                    <div>
                        <i class="dripicons-cross"></i> 
                        <div>Error Pages</div>
                    </div>
                    <div class='menu-icon'>
                        <i class="dripicons-chevron-right"></i>
                    </div>
                </a>
                <ul class='submenu'>
                    <li><a href="error-404.html">404</a></li>
                    <li><a href="error-403.html">403</a></li>
                    <li><a href="error-500.html">500</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>